<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
">
    <bean id="person" class="org.example.spring.bean.Person" autowire="byName">
        <property name="id" value="1"></property>
        <property name="name" value="Jose"></property>
        <property name="nickname" value="Osuna"></property>
    </bean>
     
    <bean id="country" class="org.example.spring.bean.Country">
        <property name="name" value="United States"></property>
    </bean>
    
    <bean id="city" class="org.example.spring.bean.City">
        <property name="name" value="Miami"></property>
    </bean>
    
</beans>
