<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
">
    <bean id="person" class="org.example.spring.bean.Person">
        <property name="country" ref="country"></property>
        <property name="id" value="1"></property>
        <property name="name" value="Jose"></property>
        <property name="nickname" value="Osuna"></property>
    </bean>
     
    <bean id="country" class="org.example.spring.bean.Country">
        <property name="name" value="United States"></property>
        <property name="cities">
            <list>
                <ref bean="city01" />
                <ref bean="city02" />
                <ref bean="city03" />
            </list>
        </property>
    </bean>
    
    <bean id="city01" class="org.example.spring.bean.City">
        <property name="name" value="Miami"></property>
    </bean>
    
    <bean id="city02" class="org.example.spring.bean.City">
        <property name="name" value="San Francisco"></property>
    </bean>
    
    <bean id="city03" class="org.example.spring.bean.City">
        <property name="name" value="New York"></property>
    </bean>
    
</beans>
