<!DOCTYPE html>
<html data-ng-app="miApp">
	<head>		
		<title>ANGULAR</title>	
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>		
	</head>
	<body>
	
		<p>{{'Hola'}}</p>
		<p>{{10}}</p>
		<p>{{2015-1983}}</p>
		
		<h1> Mi tienda de verduras </h1>
		<ul>
			<li>Apio {{ 50 | currency }}</li>
			<li>Espinaca {{ 50 | currency:"$" }}</li>
			<li>Papa {{ 50 + 10 | currency:" CLP " }} importada de {{  'VENezuela' | uppercase  }}</li>
		</ul>
		
		<div style="width:300px;">
			<label>Nombre:</label>
			<input type="text" data-ng-model="nombre" />
			<br /><br />
			<span>Mi nombre es: </span>
			<span>{{ nombre }}</span>
		</div>
		
		<div data-ng-controller="controlador1">
			<h1>Promocion de Mangos!</h1>
			<h2>{{ precio | currency }} cada uno</h2>
			<label>Cantidad de mangos:</label>
			<input type="text" data-ng-model="cantidad" />
			
			<br /><br />
			
			<span>Precio total: {{ cantidad * precio | currency }}</span>
		</div>
		
		<div data-ng-controller="controlador2">
			<h1>Calcular circunferencia</h1>
			<label>radio:</label>
			<input type="text" data-ng-model="radio" />
			<button data-ng-click="calcularCircunferencia()">Calcular</button>
			<br />
			<span>Circunferencia: {{  circunferencia  }}</span>
		</div>
		
		<div>
			
		</div>
		
		<script>
			var miAplicacion = angular.module( 'miApp', [] );
			
			miAplicacion.controller( 'controlador1', [ '$scope', function($scope){
				
				$scope.cantidad =  0;
				$scope.precio = 2.15;
			} ] );
			
			miAplicacion.controller( 'controlador2', [ '$scope', function( $scope ){
				var pi = 3.1416;
				
				$scope.calcularCircunferencia = function(){
					$scope.circunferencia = $scope.radio * pi;				
				};
			} ] );
			
		</script>
		
	</body>
</html>
