<!DOCTYPE html>
<html data-ng-app="MyApp">
	<head>
		<meta charset="utf-8" />
		<title>View</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script src="controller.js"></script>
	</head>
	<body>		
		<div ng-controller="myController">			
			<h2>Comments!</h3>
			<table>
				<tbody>
					<tr>
						<td><label>Add a comment:</label></td>
						<td><input data-ng-model="newComment.comment" type="text" /></td>
					</tr>
					<tr>
						<td><label>Username:</label></td>
						<td><input data-ng-model="newComment.username" type="text" /></td>
					</tr>
					<tr><td></td><td><button data-ng-click="addComment()">Add Comment</button></td></tr>
				</tbody>
			</table>
			
	
			
			<ul>
				<li data-ng-repeat="comment in comments">
					{{ comment.comment  }} - <strong> {{ comment.username }} </strong>
				</li>
			</ul>
		</div>
	</body>
</html>
